<h1>Activities</h1>

<p>
  On Saturday, we have some scheduled recreation time.  We're planning on setting up some organized activities for everybody to participate in,
  however due to the full intinerary, we want to be sure we organize ones that people would like to do.  We're asking you to take a moment and
  let us know what your preference for activities are &mdash; or let us know if there's one we haven't though of.
</p>
<p>
  The activities we've thought of are
</p>
<ul>
  <li>Wiffle ball competition</li>
  <li>Free throw contest</li>
  <li>Horseshoe toss</li>
  <li>Cornhole / bean bag toss</li>
  <li>Volleyball</li>
</ul>

<p>
  Please rank your preferred family-friendly activities <a href="https://docs.google.com/forms/d/1h1Sttr8CrgFZOJ4W2gZR441U2xb48uw8XTI54jhL3e4/viewform" target="morin-form">here</a>.
</p>