
<div class="content">
  <div class="clearfix">
    <h1 class="left with-margin">{{albumHeader.title}}</h1>
    <span class="right with-h1 new-album-width"><a class="with-h1-bottom" data-ng-href="#/EditAlbum/{{albumId}}">Edit album</a></span>
  </div>
</div>

<div class="picture-list">
  <div class="picture-item" data-ng-repeat="item in album">

    <a data-ng-href="{{item.itemUrl}}">
      <!-- Use the ng-src-responsive directive to set up your queries and sources -->
      <img title="{{item.title}}"
        data-ng-src-responsive="[
        ['(min-width: 100px)', '{{item.url100}}'],
        ['(min-width: 260px)', '{{item.url240}}'],
        ['(min-width: 340px)', '{{item.url320}}'],
        ['(min-width: 520px)', '{{item.url500}}']
        ]" />

      <div class="picture-item-description">
        {{item.title}}
      </div>
    </a>
  </div>
</div>

