<div class="content">
  <section>
    <h1>RSVP</h1>
    <p>
      Let us know you're coming by filling out the RSVP form <a href="https://docs.google.com/forms/d/1ntLtGkKoqOJYsL9DReL1MbXMdm3on6lMSGpuwQITavI/viewform" target="morin-form">here</a>
    </p>
  </section>

  <section>
    <h1>When &amp; Where</h1>
    <p>
      The reunion is planned for the weekend of June 28 &amp; 29, 2014 at Jim Morin's home in Carlisle, MA.
    </p>
    <p>
      <a href="https://maps.google.com/maps?f=d&source=s_d&daddr=Carlisle+MA" target="map">Directions</a>
    </p>
  </section>

  <section>
    <h1>Saturday, June 28</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Activities</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12:00 pm - 01:30 pm</td>
          <td>Lunch and Reconnecting</td>
        </tr>
        <tr>
          <td>01:30 pm - 02:15 pm</td>
          <td>Salutations from Uncle Lucien
          <br />
            Family Introductions by Bill, Jim &amp; Joyce, Linda, Tom
          </td>
        </tr>
        <tr>
          <td>02:15 pm - 03:30 pm</td>
          <td>Family Fun & Games</td>
        </tr>
        <tr>
          <td>03:30 pm - 04:00 pm</td>
          <td>Family Photos</td>
        </tr>
        <tr>
          <td>04:00 pm - 08:00 pm</td>
          <td>Dinner, Dancing with DJ</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h1>Sunday, June 29</h1>
    <h4>Details TBD</h4>
    <p>
      The following activities have been proposed
    </p>
    <ul>
      <li>A day at local beach</li>
      <li>A Boston tour to include the Freedom Trail etc.</li>
      <li>Hang out at Jim Morin’s house and continue to play games</li>
    </ul>
    <p>
      Please let your family representative know what you and your family would like to do on the 29th.
    </p>
  </section>

  <section>
    <h1>Ticket price</h1>
    <p>
      Family members 21 years+ will need to purchase tickets. The ticket price for adults will be $65, paid directly to your family's representative. The family reunion is free for all family members under 21 years.
    </p>
  </section>

  <section>
    <h1>Food</h1>
    <p>
      Lunch and dinner is free on June 28th. Uncle Lucien has graciously paid for all food costs.  Food will be prepared by Ana Esposito. Thank you, Uncle Lucien and Ana, and thanks to Jim for the use of your home!
    </p>
    <p>
      In addition to food provided please bring your favorite Traditional Family Dishes that can be shared with your cousins, aunts and uncles.  There’s nothing better than a family reunion except a family reunion with home cooking!
    </p>
  </section>

  <section>
    <h1>Alcoholic Beverages</h1>
    <p>
      There will a keg of beer for all to enjoy. It’s a BYOB party for those who want to drink wine and/or hard liquor.
    </p>
  </section>

  <section>
    <h1>T–Shirts</h1>
    <p>
      T-shirts will be handed out at the reunion for all family members. There will be four different colors of t-shirts representing one of the four family lineages.
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Family</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Uncle Lucien</td>
          <td>Red</td>
        </tr>
        <tr>
          <td>Uncle Louis</td>
          <td>Black &amp; Gold</td>
        </tr>
        <tr>
          <td>Aunt Bella</td>
          <td>Green</td>
        </tr>
        <tr>
          <td>Uncle Frank</td>
          <td>Blue</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h1>Questions / Contact Us</h1>
    <p>
      If you have any further questions, ask your representative on the reunion committee.  The representatives are:
    </p>
    <div data-ng-include="'views/partials/committee-representatives.html'"></div>
  </section>
</div>
