<div class="section-subsection">
  <h2>RSVP</h2>
  <p>
    Let us know you're coming by filling out the RSVP form <a href="https://docs.google.com/forms/d/1ntLtGkKoqOJYsL9DReL1MbXMdm3on6lMSGpuwQITavI/viewform" target="morin-form">here</a>
  </p>
</div>

<div class="section-subsection">
  <h2>When</h2>
  <p>
    The reunion is planned for the weekend of June 28 &amp; 29, 2014.
  </p>
</div>

<div class="section-subsection">
  <h2>Where</h2>

  <p>
    Jim Morin's home in Carlisle, MA.
    <a href="https://maps.google.com/maps?f=d&source=s_d&daddr=chelmsford+ma" target="map">Directions</a>
  </p>

</div>

<div class="section-subsection">
  <h2>What</h2>
  TIME                                                               ACTIVITIES
12:00 pm - 01:30 pm                                      Lunch and Reconnecting
01:30 pm - 02:15 pm                                      Salutations from Uncle Lucien
 
                                                                        Family Introductions 
                                                                        Bill, Jim, Joyce, Linda, Tom
 
02:15 pm - 03:30 pm                                      Family Fun & Games
 
03:30 pm - 04:00 pm                                      Family Photos
04:00 pm - 08:00 pm                                      Dinner, Dancing with DJ
</div>

<div class="section-subsection">
  <h2>Family Activities for June 29, 2014 Details TBD</h2>
  <p>
    The following activities have been proposed
  </p>
  <ul>
    <li>A day at local beach</li>
    <li>A Boston tour to include the Freedom Trail etc.</li>
    <li>Hang out at Jim Morin’s house and continue to play games</li>
  </ul>
  <p>
    Please let your family representative know what you and your family would like to do on the 29th.
  </p>
</div>
<div class="section-subsection">
  <h2>Ticket price</h2>
  <p>
    Family members 21 years+ will need to purchase tickets. The ticket price for adults will be set after we have captured all the costs of the reunion. The family reunion is free for all family members under 21 years.
  </p>
</div>


<div class="section-subsection">
  <h2>Food</h2>
  <p>
    Lunch and dinner is free on June 28th. Uncle Lucien has graciously paid for all food costs.  Food will be prepared by Ana Esposito. Thank you, Uncle Lucien and Ana, and thanks to Jim for the use of your home!
  </p>
  <p>
    In addition to food provided please bring your favorite Traditional Family Dishes that can be shared with your cousins, aunts and uncles.  There’s nothing better than a family reunion except a family reunion with home cooking!
  </p>
</div>

<div class="section-subsection">
  <h2>Alcoholic Beverages</h2>
  <p>
    There will a keg of beer for all to enjoy. It’s a BYOB party for those who want to drink wine and/or hard liquor.
  </p>
</div>

<div class="section-subsection">
  <h2>T – Shirts</h2>
  <p>
    T-shirts will be handed out at the reunion for all family members. There will be four different colors of t-shirts representing one of the four family lineages. Uncle Lucien’s Family: RED. Uncle Louis’ Family: BLACK & GOLD.  Uncle Frank’s Family:  BLUE. Aunt Bella’s Family: GREEN.
  </p>
</div>
