Welcome to the information destination for the morin annual family reunion.&nbsp;&nbsp;Be sure to
visit the <a href="#/signup">Sign Up page</a> to RSVP as well as participate in activities or
volunteer committees.
<div id="info-when" class="section-subsection">
                    <h2>When</h2>
                    <p>
                        Currently, the reunion is planned for the weekend of June 28 &amp; 29, 2014.
                    </p>
                </div>

                <div id="info-where" class="section-subsection">
                    <h2>Where</h2>

                  <p>
                    James Morin's house in chelmsford.
                    <a href="https://maps.google.com/maps?f=d&source=s_d&daddr=chelmsford+ma" target="map">Directions</a>
                    </p>
                   
                </div>

                <div id="info-itinerary" class="section-subsection">
                    <h2>Itinerary</h2>
                    <p>
                        The possibilities for the weekend include:  the first day being all together at Jim's for a huge picnic/cookout with games etc.  Maybe a band or DJ for some music.  
                        The yard is big enough to set up a large tent if needed for weather purposes.
                    </p>
                    <p>
                        The second day could be other excursions &mdash; either a large group or as people want.
                        Possibilities such as:
                    </p>
                    <ul>
                        <li>Red Sox game</li>
                        <li>beach</li>
                        <li>tour Boston (ie, freedom trail)</li>
                    </ul>
                    <p>
                        Then we'll have a clam bake or other big event to end the reunion.
                    </p>
                </div>

                <div id="info-cost" class="section-subsection">
                    <h2>Ticket price</h2>
                    <p>
                        To cover the cost of the event, we are asking 40 dollars per adult 21 and over.
                    </p>
                </div>