<!doctype html>
<html lang="en" data-ng-app="reunion">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title data-ng-bind="'Morin Reunion - ' + currentRoute.title">Morin Family Reunion</title>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../styles/css/site.css" rel="stylesheet" />
    
    <link rel="canonical" href="http://www.morinreunion.com" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body class="ng-cloak">

      <header class="content">

        <!-- logo & title -->
        <div class="header-content">   
          <span data-ng-include="'views/partials/tree.html'"></span>
          <span class="title">Morin Family Reunion</span>
        </div>

        <!-- header navigation -->
        <div class="header-nav" data-ng-if="authenticated" >
          <ul>
            <li data-ng-repeat="r in routes"><a href="#{{r.path}}">{{r.title}}</a></li>
          </ul>
        </div>

      </header>

      <!-- the content -->
      <div class="ng-view"></div>

      <footer class="content footer" data-ng-if="authenticated">

        <!-- footer navigation -->
        <div class="footer-nav">
          <select class="dropdown" data-ng-model="$root.currentRoute" data-ng-options="r.title for r in routes" data-ng-change="redirect()"></select>     
        </div>

      </footer>
    
    <!-- overlay used to block UI while loading -->
    <div data-ng-show="processing" class="overlay"> Loading... </div>

    <!-- angular scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-sanitize.js"></script>
    
    <!-- included directive -->
    <script src="scripts/lib/angular-responsive-images.js"></script>

    <!-- core application -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <!--<script src="scripts/services.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/directives.js"></script>-->
  </body>
</html>

