<!doctype html>
<html lang="en" data-ng-app="reunion">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title data-ng-bind="'Morin Reunion - ' + currentRoute.title">Morin Family Reunion</title>
    
    <link href="../styles/css/site.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet" />
    
    <link rel="canonical" href="http://www.morinreunion.com" />
  </head>
  <body class="ng-cloak">

    <div class="content">
      <header>

        <!-- logo & title -->
        <div class="header-content">   
          <span data-ng-include="'views/partials/tree.html'"></span>
          <span class="title">Morin Family Reunion</span>
        </div>

        <!-- header navigation -->
        <div class="header-nav" data-ng-if="authenticated" >
          <ul>
            <li data-ng-repeat="r in routes"><a href="#{{r.path}}">{{r.title}}</a></li>
          </ul>
        </div>

      </header>

      <div class="ng-view"></div>

      <footer style="display:block; height:3ex;">

        <!-- footer navigation -->
        <div class="footer-nav" data-ng-if="authenticated">
          <select class="dropdown" data-ng-model="$root.currentRoute" data-ng-options="r.title for r in routes" data-ng-change="redirect()"></select>     
        </div>

      </footer>
    </div>
    
    <!-- overlay used to block while loading -->
    <div data-ng-show="processing" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: black; opacity: 0.6; cursor: default; position: absolute;"> Loading... </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/directives.js"></script>
  </body>
</html>

