@import "colors";

//Display albums in gallery
.album {
	width: 250px;
	display: inline-block;
	vertical-align: top;
}

.album-text-title {
	display: block;
	font-weight: bold;
}

.new-album-width{
	width: 10em;
}

//Display pictures in album
.picture-list{
	text-align: center;
}

.picture-item{
	display: inline-block;
	margin: 2px 2px 20px 2px;
	vertical-align: top;
}

.picture-item img{
	border-radius: 15px;
}





.picture-upload{
	max-width: 150px;
}

.picture-upload img{
	max-width:100%;
	max-height:100%;
}
.drop-zone{
	display: block;
	width: 100%;
	height: 6em;
	background-color: $off-white;
	padding: 1ex;
	border: dashed 2px $grey;
	border-radius: 4px;
}
.drag-over{
	background-color: $off-white-mute;
	border-color: $black;
	cursor: copy;
}
.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}
.file-picker{
	margin-top: 1em;
}

.spinner {
  margin-top: 50%;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}