.header-nav {
	position: relative;
	min-height: 50px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 20px;
	background-color: #eee;
	border-radius: 4px;
	min-width:260px;
	 
	@media (max-width: 26em) {
    display: none;
  }
}
.header-nav>ul {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.header-nav>ul>li {
	float: left;
	position: relative;
	display: block;
}
.header-nav>ul>li>a {
	line-height: 20px;
	color: #777;
	position: relative;
	display: block;
	padding: 15px;
}

.footer-nav{
	position: fixed;
	height: 5ex;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: .25ex;
	@media (min-width: 26em) {
    display: none;
  }
}