@import "colors";

.tree {
    width: 20em;
    height: 20em;
}

.tree-content {
    fill: $black;
    fill-opacity: 1;
}

.tree--header-logo {
    width: 10em;
    height: 10em;
    vertical-align: middle;
}